# Regression Model Validation - Lab

## Introduction

In this lab, you'll be able to validate your Ames Housing data model using a train-test split.

## Objectives

You will be able to:

* Perform a train-test split
* Prepare training and testing data for modeling
* Compare training and testing errors to determine if model is over or underfitting

## Let's Use Our Ames Housing Data Again!

We included the code to load the data below.

In [1]:
# Run this cell without changes
import pandas as pd
import numpy as np
ames = pd.read_csv('ames.csv', index_col=0)
ames

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [2]:
# Data processing
#finding missing values
ames.isnull().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

In [7]:
#drop the column with missing values
ames.drop('LotFrontage', axis=1, inplace=True)

In [8]:
ames.head()

,MSSubClass,MSZoning,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
ames.isnull().sum()

MSSubClass          0
MSZoning            0
LotArea             0
Street              0
Alley            1369
                 ...
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 79, dtype: int64

In [10]:
ames.drop('Alley', axis=1, inplace=True)

In [11]:
ames.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [12]:
ames.isnull().sum()

MSSubClass       0
MSZoning         0
LotArea          0
Street           0
LotShape         0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 78, dtype: int64

In [13]:
#defining the features
X = ames.drop('SalePrice', axis=1)
y = ames['SalePrice']

## Perform a Train-Test Split

Use `train_test_split` ([documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)) with the default split size. At the end you should have `X_train`, `X_test`, `y_train`, and `y_test` variables, where `y` represents `SalePrice` and `X` represents all other columns. It is also important to set a random state so that your results will be repeatable.

In [14]:
# Your code here: split the data into training and test sets
#importing the libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

#train-test
#split the data
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)
#display the split
print(X_test.shape, y_test.shape)
print(X_train.shape, y_train.shape)

(292, 77) (292,)
(1168, 77) (1168,)

## Prepare Both Sets for Modeling

This code is completed for you and should work as long as the correct variables were created.

In [15]:
# Run this cell without changes
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder

continuous = ['LotArea', '1stFlrSF', 'GrLivArea']
categoricals = ['BldgType', 'KitchenQual', 'Street']

# Instantiate transformers
log_transformer = FunctionTransformer(np.log, validate=True)
ohe = OneHotEncoder(drop='first', sparse=False)

# Fit transformers
log_transformer.fit(X_train[continuous])
ohe.fit(X_train[categoricals])

# Transform training data
X_train = pd.concat([
    pd.DataFrame(log_transformer.transform(X_train[continuous]), index=X_train.index),
    pd.DataFrame(ohe.transform(X_train[categoricals]), index=X_train.index)
], axis=1)

# Transform test data
X_test = pd.concat([
    pd.DataFrame(log_transformer.transform(X_test[continuous]), index=X_test.index),
    pd.DataFrame(ohe.transform(X_test[categoricals]), index=X_test.index)
], axis=1)

## Fit a Linear Regression on the Training Data

In [16]:
# Your code here: import the linear regression model class, initialize a model
model = LinearRegression()

In [17]:
# Your code here: fit the model to train data
model.fit(X_train, y_train)

LinearRegression()

## Evaluate and Validate Model

### Generate Predictions on Training and Test Sets

In [19]:
# Your code here: generate predictions for both sets
y_pred = model.predict(X_test) # y_test will be used to compare the values with the y_test
print(y_test.values)
print(y_pred)

[154500 325000 115000 159000 315500  75500 311500 146000  84500 135500
 145000 130000  81000 214000 181000 134500 183500 135000 118400 226000
 155000 210000 173500 129000 192000 153900 181134 141000 181000 208900
 127000 284000 200500 135750 255000 140000 138000 219500 310000  97000
 114500 205000 119500 253293 128500 117500 115000 127000 451950 144000
 119000 196000 115000 287000 144500 260000 213000 175000 107000 107500
  68500 154000 317000 264132 283463 243000 109000 305000  93500 176000
 118858 134000 109008  93500 611657 173000 348000 341000 141000 124900
 118000  67000 113000  91300 149500 133000 266000 190000 155900 155835
 153500 152000 124500 301000 136500 169990 205000 183900 204900 260000
 163500 224900 244000 132000 194000 156500 156000 275000 145000 135000
  60000 124000 127000 137500 213500 119000 107900 123000 112000 284000
 133000 149000 169000 207000 175000 137000 236000  79500 144000 162900
 185900 369900 197900 104000  35311 337500 367294 130250 230000 755000
 403000 132000 178000 136500 145000 123000 250000 187100 133900  67000
 137500 155000 200624 154300  91000 136000 108959 140000  86000 131400
 179900 144000 293077 144500 118500 141000 239000 276000 556581 244400
 360000 103200 102000 151000 285000 134432 113000 187500 125500 177500
 179900  55993 132500 135000 255000 140000 271000 246578 202500  75000
 122500 108480 160000 171000 196000 225000 197000  40000 172500 154900
 280000 175000 147000 315000 185000 135500 239500 139000 140000 110000
 225000 143500 128950 172500 241500 262500 194201 143000 130000 126000
 142500 254000 217500  66500 201000 155000  68400  64500 173000 102776
  84900 165600 120000 135000 220000 153575 195400 147000 277000 143000
 105900 242000 194500 438780 185000 107500 165000 176000 129900 115000
 192140 160000 145000  86000 158000 127500 115000 119500 175900 240000
 395000 165000 128200 275000 311872 214000 153500 144000 115000 180000
 465000 180000 253000  85000 101800 148500 137500 318061 143000 140000
 192500  92000 197000 109500 297000 185750 230000  89471 260000 189000
 108000 124500]
[126781.91467154 269715.93415699 123514.16296421 150591.43193093
 309901.79647254  32064.50998572 239148.91085013 138334.81954717
  48105.13872105 159521.0971982  140615.75456669 105278.24930428
 140524.59338039 218381.7814303  161837.46510537 161557.76834704
 199950.06026649 129760.53467853 119470.77335832 214851.83415672
 204656.25102671 192635.73228761 182554.86544223 100883.81061451
 206410.05912969 196726.8047436  197716.53706175 120585.42458664
 163778.71936449 196241.91572879 132688.47128521 228710.35411044
 375932.41570601 112334.15551252 233650.59510521 136893.98030186
 176522.38951497 210264.00147355 266516.49864482 112845.88582234
 117407.82669481 234398.67398135 115630.38429008 338976.33971373
 121100.92924124 189299.96334697 104773.8802315  110447.54109312
 344444.21459647 158164.46110159 112935.33333464 220116.73526573
 110431.89773758 309892.57701933 138100.77358819 237314.50685754
 212781.47131201 268442.10909643 130635.83143146  90301.23203834
  18086.97516886 184137.83162111 247857.84426387 303727.9317777
 247270.94660466 267172.24753265 114222.4388092  256121.46918351
 121163.23491259 131684.62159977 137230.22746452 142273.73679057
 106522.19164871  92666.61782087 358032.52588159 164516.58958328
 252536.78090671 253942.72738127 134744.77677946  82856.02354887
 114771.38639693 129458.9757859  140884.6960849   93533.72707747
 131184.84546349 190779.58072907 227452.82311237 194778.07712123
 138083.67811641 187180.2658926  173951.71529987 157943.96061272
  92234.34779752 270434.73219258 166058.7492635  198958.01592226
 270878.90623746 174784.7509297  212156.64670934 330134.99063269
 191970.21150194 204093.53917351 232295.5003402   90280.47269981
 221244.08770965 168082.00668584 160827.27933651 223403.15304865
 119513.03874422 183141.45294589  72073.01219445 123449.42023662
 118375.19395866 144682.56718026 211024.0233077  127360.43407022
  96596.87171778 100619.35937593 156473.73049505 227120.0116873
  82414.92350151 138100.77358819 157792.70588477 226640.53260251
 210763.86655757 121860.24730517 231592.85070483 104810.37606444
 174206.44132083 161229.56532249 189409.93337557 256801.13980757
 209990.09957027 176041.83752249  26718.91181763 316493.93863993
 322623.70986783 112524.17366999 222204.62979983 425647.30425389
 359092.27669118 120478.04258622 209175.9076598  177821.26902833
 129335.37148659 103211.35676464 231719.09484064 221265.74322018
  80883.19203965  99305.98017582 137693.81449389 126300.1629919
 270059.55794598 172149.18042934 131668.60697798 136521.90539052
 127297.53575529 166410.39870495  56442.61132954 139894.93177274
 192701.34698182  89494.31325693 225593.49081235 172631.70056396
 128878.14499419 160805.73505329 214092.23453085 340061.80520549
 374082.8071769  230043.39069592 332060.95114947  91685.10630364
 147439.02296192 133443.37406376 287798.94974609 181770.61211305
 145890.11961388 226059.52779235 173954.02271413 179883.3495828
 191637.38457339 132019.64205711 118683.18003736 111141.61288871
 231033.69232804 167156.13247232 237261.64289082 208329.55832436
 210310.30982969  92235.94861276 114542.24897314 116164.01112761
 144633.59604282 136664.41742584 207359.44848517 301747.74770757
 179800.31250409 126451.18535151 203870.4270008  134631.40238296
 267255.82692465 163113.95030243 135388.69053091 261957.20189512
 196122.46258593 119565.77346725 230487.57621399 134124.73990863
 166559.64365009 106875.75954881 247075.86253266 149657.99199576
 146819.38655197 133153.01080617 196657.48717713 217833.63436571
 198951.51992287 134763.49108984 192528.63541842 191621.10000228
 115823.36246946 203407.83015832 233516.15767895 104497.15843889
 209225.55312567 152995.07000059 112344.4625094  120583.80004733
 195991.68904312 127973.31463831 156828.83934788 178903.12801795
 136978.00205082 162636.92561799 218260.07680894 135098.44091815
 177578.00445151 160444.16800023 202520.04085372 123171.03238906
  76926.72697528 287967.06658411 211889.49518345 280858.33309883
 214661.14378887 100756.20557569 166132.02982133 187924.99646733
 124597.0528389   79706.49463555 184729.07106988 191141.32505116
 156322.53422493 179471.89259277 145202.12899401 124565.66400402
 109491.61800733 108933.82994717 188709.68165478 236493.51934998
 258806.12990133 149799.25862198 110110.87671488 232923.3380933
 310011.56808899 227154.71355217 155738.37321447 138083.67811641
 114589.36606546 138203.7019241  343335.80672511 200972.49306352
 226921.32625138  90239.14752848 116970.81667301 119654.9188759
 200609.72992233 331638.10471318 314624.78271719 166174.65130586
 220359.68223998 161509.66102894 188871.23843136 131150.03235507
 233846.00439552 211852.41273982 220790.50212759 125208.31510118
 229668.72554464 179514.88025017 146091.92265339  98910.56484157]

### Calculate the Mean Squared Error (MSE)

You can use `mean_squared_error` from scikit-learn ([documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html)).

In [20]:
# Your code here: calculate training and test MSE
#rmse lower rmse indicates better model performance
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
rmse

47442.64663417647

If your test error is substantially worse than the train error, this is a sign that the model doesn't generalize well to future cases.

One simple way to demonstrate overfitting and underfitting is to alter the size of our train-test split. By default, scikit-learn allocates 25% of the data to the test set and 75% to the training set. Fitting a model on only 10% of the data is apt to lead to underfitting, while training a model on 99% of the data is apt to lead to overfitting.

## Level Up: Evaluate the Effect of Train-Test Split Size

Iterate over a range of train-test split sizes from .5 to .9. For each of these, generate a new train/test split sample. Preprocess both sets of data. Fit a model to the training sample and calculate both the training error and the test error (MSE) for each of these splits. Plot these two curves (train error vs. training size and test error vs. training size) on a graph.

### Extension

Repeat the previous example, but for each train-test split size, generate 10 iterations of models/errors and save the average train/test error. This will help account for any particularly good/bad models that might have resulted from poor/good splits in the data.

In [ ]:
# Your code here

What's happening here? Evaluate your result!

##  Summary

Congratulations! You now practiced your knowledge of MSE and used your train-test split skills to validate your model.